/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;600;700;900&display=swap');

:root {
  --gray: #F7F7F7;
  --white: #FAFAFA;
  --blue: #102E4A;

  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--gray);

  height: 100vh;
  height: 100dvh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  place-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  all: unset;
  background-color: var(--blue);
  height: 2rem;
  width: 6rem;
  width: clamp(6rem, calc(10vw + 1rem), 9rem);
  color: var(--white);
  font-size: .6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  border: .1rem solid var(--white);
  cursor: pointer;
}
