.card a {
  background-color: var(--white);
  width: clamp(10rem, calc(14vw + 1rem), 15rem);
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: .4rem .4rem 1rem #00000055;
}

.card .flag {
  max-width: clamp(10rem, calc(10vw + 1rem), 12rem);
  max-height: 5rem;
}

.card span {
  text-align: center;
}

.main-card {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.text-card {
  font-size: .6rem;
  font-weight: 400;
}

@media screen and (max-width: 550px) {
  .card a {
    width: 13rem;
  }
}
