.create-content {
  background-color: var(--white);
  height: 100%;
  padding: 0;
  margin: 0;
}

.go-to-home {
  height: 10vh;
  height: 10dvh;
  display: flex;
  align-items: center;
}

.form-create {
  height: 80vh;
  height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-create form {
  background-color: var(--gray);
  color: #000000;
  padding: 2rem;
  width: clamp(17rem, calc(50vw + 5rem), 25rem);
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .1rem solid #102E4A22;
  border-radius: 1rem;
}

.content-input {
  height: 12rem;
  width: clamp(15rem, calc(50vw + 5rem), 22rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: .1rem solid #00000033;
}

.double {
  width: clamp(15rem, calc(50vw + 5rem), 22rem);
  display: flex;
  justify-content: space-between;
}

.label {
  margin: 0 .3rem 0 .3rem;
  font-size: clamp(.6rem, calc(.5vw + .5rem), .8rem);
  font-weight: 300;
}

.input-text {
  background-color: var(--white);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  width: clamp(15rem, calc(50vw + 5rem), 22rem);
  border: .1rem solid #00000022;
  outline: none;
}

.duration-content {
  width: 7rem;
}

.input-number {
  background-color: var(--white);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  width: 4rem;
  border: .1rem solid #00000022;
  outline: none;
}

.mins {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  background-color: var(--white);
}

.radio {
  width: clamp(2rem, calc(10vw + 5rem), 12rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  display: flex;
  align-items: center;
}

.select-season {
  width: clamp(15rem, calc(50vw + 5rem), 22rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-create select {
  width: clamp(15rem, calc(50vw + 5rem), 22rem);
  font-family: 'Lexend Deca', sans-serif;
  font-size: .7rem;
  font-weight: 300;
  border: .1rem solid #00000022;
  outline: none;
}

.error {
  font-size: .6rem;
  color: #ff0000;
  margin-top: .5rem;
}

.countries-count {
  padding: .3rem;
  margin-top: .4rem;
  font-size: .7rem;
  border: .1rem solid var(--blue);
  border-radius: .5rem;
}

.list-country {
  width: 11rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.eye {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: .3rem;
}

.button-container {
  padding-top: 2rem;
  width: 22rem;
  justify-items: center;
}

.content-modal {
  background-color: var(--white);
  height: 10rem;
  width: 30rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: .5rem;
}

.countries-modal {
  padding: 1rem;
  background-color: var(--white);
  max-height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: .5rem;
}

.title-modal {
  font-size: 1rem;
  font-weight: 700;
}

.modal ul {
  list-style: none;
  padding: 0;
  max-height: 22rem;
  width: 19rem;
  overflow-y: auto;
}

.modal ul li {
  height: 1.2rem;
  padding: .2rem;
  font-size: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: .1rem solid #00000055;
}

.modal ul li button {
  all: unset;
  color: #ff0000;
  margin-right: .5rem;
  cursor: pointer;
}

.delete-countries{
  background-color: var(--white);
  border: .1rem solid var(--blue);
  color: var(--blue);
}

@media screen and (max-width: 430px) {
  .go-to-home {
    height: 5vh;
    height: 5dvh;
  }
  .form-create form {
    padding: 1rem;
    height: 34rem;
  }
  .double {
    flex-direction: column;
  }
  .radio {
    width: 15rem;
  }
  .duration-content {
    margin-top: 1rem;
  }
  .button-container {
    padding-top: 1rem;
  }
}

@media screen and (max-height: 700px) {
  .go-to-home {
    height: 2rem;
  }
  .form-create {
    height: 35rem;
  }
}
