/* button */

.go-to-home {
  padding: 1rem;
  width: 6rem;
}

/* detail */

.detail {
  background-color: var(--white);
  width: 100%;
  height: 100%;
  min-height: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.1rem solid #00000011;
  border-radius: 0.8rem;
  box-shadow: .1rem .1rem 1rem #0000001A;
}

.flag-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-container .flag {
  width: clamp(15rem, calc(30vw + 5rem), 25rem);
}

.info-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container div {
  height: clamp(.8rem, calc(2vw + .2rem) , 1.5rem);
  display: flex;
  align-items: center;
}

.name {
  font-size: clamp(1rem, 3vw , 3rem);
  font-weight: 700;
  margin-bottom: min(2rem, 10%);
}

.title {
  font-size: clamp(.4rem, 2vw , 1rem);
  font-weight: 500;
}

.text {
  font-size: clamp(.4rem, 2vw , 1rem);
  font-weight: 300;
  margin-left: .5rem;
}

.eye {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: .5rem;
}

/* activities */

.table-activities {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--white);
  border: 0.1rem solid #00000011;
  margin-top: 1rem;
  border-radius: 0.8rem;
  box-shadow: .1rem .1rem 1rem #0000001A;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
}

table thead {
  background-color: var(--blue);
  /* width: clamp(10rem, calc(60vw + 5rem) , 40rem); */
  border-radius: .5rem;
}

.activity-head {
  color: var(--white);
  padding: .2rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), 1rem);
  font-weight: 700;
  /* width: 5rem; */
  width: clamp(5rem, 16vw , 14rem);
  border-left: .1rem solid var(--white);
  border-right: .1rem solid var(--white);
}

.difficulty-head {
  color: var(--white);
  padding: .2rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), 1rem);
  font-weight: 700;
  width: clamp(2.2rem, 8vw , 14rem);
  border-left: .1rem solid var(--white);
  border-right: .1rem solid var(--white);
}

.duration-head {
  color: var(--white);
  padding: .2rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), 1rem);
  font-weight: 700;
  width: clamp(4rem, 10vw , 14rem);
  border-left: .1rem solid var(--white);
  border-right: .1rem solid var(--white);
}

.season-head {
  color: var(--white);
  padding: .2rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), 1rem);
  font-weight: 700;
  width: clamp(6rem, 16vw , 14rem);
  border-left: .1rem solid var(--white);
  border-right: .1rem solid var(--white);
}

.activity {
  padding: .6rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), .7rem);
  font-weight: 300;
  width: clamp(5rem, 16vw , 14rem);
  border-bottom: .1rem solid #00000033;
}

.difficulty {
  padding: .6rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), .7rem);
  font-weight: 300;
  width: clamp(2.2rem, 8vw , 14rem);
  border-bottom: .1rem solid #00000033;
}

.duration {
  padding: .6rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), .7rem);
  font-weight: 300;
  width: clamp(4rem, 10vw , 14rem);
  border-bottom: .1rem solid #00000033;
}

.season {
  padding: .6rem 0;
  font-size: clamp(.4rem, calc(1vw + .1rem), .7rem);
  font-weight: 300;
  width: clamp(6rem, 16vw , 14rem);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: .1rem solid #00000033;
}

@media screen and (max-width: 600px) {
  .detail {
    flex-direction: column;
  }
  .flag-container {
    width: 100%;
  }
  .info-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
