.home {
  height: 100vh;
  height: 100dvh;
}

.content {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.filters {
  background-color: var(--white);
  padding: 1rem;
  width: clamp(11rem, calc(14vw + 1rem) , 15rem);
  border: 0.1rem solid #00000011;
  border-radius: 0.8rem;
}

.view {
  width: 75%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-buttons {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}

.search-container {
  height: 2rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .menu {
    display: block;
    padding: .5rem;
    height: 1rem;
    width: 3rem;
  }
  .ti-menu-2 {
    margin-right: .2rem;
  }
  .filters {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    height: 100dvh;
    width: min(15rem, 100%);
    transition: left 300ms ease-out;
  }
  .show {
    left: 0;
  }
  .view {
    width: 100%;
  }
  .search-container {
    margin: 0;
  }
}
