.loading-container {
  background-color: white;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif {
  width: 25rem;
}

.loading {
  font-size: 2rem;
}
