.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #000000DD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 1rem;
  background-color: var(--white);
  max-height: 32rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: .5rem;
}

.modal button {
  margin-top: 1rem;
}
