.pagination {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.change-page {
  all: unset;
  background-color: var(--blue);
  color: var(--white);
  font-size: .7rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border: .1rem solid var(--blue);
  border-radius: .3rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.disabled {
  all: unset;
  background-color: #D3D3D3;
  color: #A9A9A9;
  font-size: .7rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border: .1rem solid #D3D3D3;
  border-radius: .3rem;
  margin: 0 .5rem;
}

.pages-container {
  width: clamp(10rem, calc(40vw + 5rem), 40rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.number-page {
  all: unset;
  background-color: var(--gray);
  color: var(--blue);
  font-size: .7rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border: .1rem solid var(--blue);
  border-radius: .5rem;
  margin: .1rem;
  cursor: pointer;
}

.selected {
  all: unset;
  background-color: var(--blue);
  color: var(--white);
  font-size: .7rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  border: .1rem solid var(--blue);
  border-radius: .5rem;
  margin: 0 .1rem 0 .1rem;
}
